.container-fluid {
    max-width: 1000px !important;
}

.header-section {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: 0px !important;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition-duration: 0.85s;
}

#parallax-light {
    opacity: 1.0;
    transition-duration: 0.85s;
    background-image: linear-gradient(rgba(10, 132, 255, 0.18), rgba(10, 132, 255, 1.0)), url("assets/images/header_light.jpg");
}

#parallax-dark {
    opacity: 0.0;
    transition-duration: 0.85s;
    background-image: linear-gradient(rgba(10, 132, 255, 0.05), rgba(10, 132, 255, 0.5)), url("assets/images/header_dark.png");
}

.top-section {
    width: 100vw;
    min-height: 50vh;
    margin-top: calc(100vh * 0.5) !important;
    z-index: 10 !important;
}

.main-section {
    width: 100vw;
    z-index: 10 !important;
}

.item-icon-col {
    max-width: 60px !important;
    opacity: 0.7 !important;
}

.item-text {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 0.7 !important;
}

.name {
    font-size: 60px;
    font-weight: 800;
}

hr {
    color: rgba(10, 132, 255, 1.0);
}

.vh-50 {
    height: 50vh;
}

.title-me {
    font-size: 28px;
    font-weight: 600;
}

.info-label {
    padding: 0px;
    margin: 4px 0px;
    font-weight: 300;
    max-width: 70px !important;
    opacity: 0.8;
}

.info-text {
    padding: 0px;
    margin: 4px 10px;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: underline;
    transition-duration: 0.3s;
}

a:hover {
    text-decoration: underline;
    color: rgba(10, 132, 255, 1.0);
    transition-duration: 0.3s;
}

.g-text-light {
    color: #fff !important;
    transition-duration: 0.85s;
}

.g-text-dark {
    color: #2e2e2e !important;
    transition-duration: 0.85s;
}

.g-fast-background-light {
    background-color: #fff !important;
    transition-duration: 0.0s !important;
}

.g-fast-background-dark {
    background-color: #2e2e2e !important;
    transition-duration: 0.0s !important;
}

.g-background-light {
    background-color: #fff !important;
    transition-duration: 0.85s;
}

.g-background-dark {
    background-color: #2e2e2e !important;
    transition-duration: 0.85s;
}


/* BOOTSTRAP NO OUTLINED ON FOCUS */

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
select:focus,
select:active,
button:focus,
button:active,
button:hover,
label:focus,
.btn:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
}